@import "../themes/button_theme.scss";

.menu_background {
    transition: opacity 0.40s ease-in-out, width 0s 0.40s, height 0s 0.40s;
    opacity: 0;
    overflow-y: hidden;
    z-index: 6;
    left: 0;
    top: 0;
    position: fixed;
    flex-direction: row;
    height: 100%;
    width: 100%;
    display: flex;
    background: rgba(38, 38, 38, 0.8);
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    .left_menu {
        transition: all 0.40s ease-in-out;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 24px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.10);
        width: 300px;
        max-width: 80%;
        color: #000000;
        background-color: #ffffff;
        transform: translateX(-300px);
        opacity: 1;
        box-sizing: border-box;

        &.active {
            transform: translateX(0);
        }

        .nav {
            min-height: calc(100vh - 72px);
            justify-content: space-between;
            flex-direction: column;
            display: flex;
            color: #000000;

            .signin_button {
                @include button(Black, 56px, 8px);
            }

            .signup_button {
                @include button(White, 56px, 8px);
            }

            .links {
                margin-bottom: 24px;
                margin-top: 24px;
                flex-direction: column;

                ul {
                    list-style: none;
                    padding-inline-start: 0px;

                    li {
                        margin-bottom: 16px;

                        a {
                            font-weight: 500;
                            font-size: 14px;
                            margin: 12px 0;
                            font-family: sans-serif;
                            line-height: 16px;
                            color: #000000;
                            display: flex;
                            text-decoration: none;

                            img {
                                height: 16px;
                                width: 16px;
                            }
                        }
                    }
                }
            }
        }

        .app_banner {
            justify-content: center;
            align-items: center;
            display: flex;

            img {
                border-radius: 15%;
                flex: none;
                overflow: clip;
                overflow-clip-margin: content-box;
            }

            p {
                line-height: 20px;
                font-size: 16px;
                font-weight: 500;
                font-family: sans-serif;
            }
        }

        .app_download_links {
            margin-bottom: 8px;
            margin-top: 16px;
            align-items: center;
            display: flex;

            a {
                border-radius: 500px;
                padding: 12px;
                line-height: 16px;
                font-size: 14px;
                font-weight: 500;
                font-family: sans-serif;
                text-decoration: none;
                background-color: #eeeeee;
                color: #000000;
                display: flex;
            }
        }
    }
}
