.menu {
    transition: background 200ms;

    @media screen and (max-width: 820px){
        padding: 10px 16px;
    }

    &.menu_scrolled {
        box-shadow: rgb(226, 226, 226) 0px -2px 0px inset;
        background: #ffffff;
    }
}

.top_scrolled {
    height: 0px;
}

.anchor_scrolled {
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}