.menu {
    z-index: 1;
    background: transparent;
    height: 96px;
    padding: 0 40px;
    margin: 0 auto;
    max-width: 1920px;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background 200ms;
    flex-wrap: wrap;

    @media screen and (max-width: 640px){
        padding: 10px 40px;
    }

    &.menu_scrolled {
        box-shadow: rgb(226, 226, 226) 0px -2px 0px inset;
        background: #ffffff;
    }
}

#menu_image {
    height: 20px;
    width: 20px;
}

#menu_button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.homepage_image {
    height: 24px;
    display: block;
    width: auto;
    aspect-ratio: auto 146 / 24;
    overflow: clip;
    overflow-clip-margin: content-box;
    cursor: pointer;
}

.middleSpace {
    max-width: 722px;
    overflow: hidden;
    width: 100%;
}

.expanding_space {
    flex: 1;
}

.menu_button {
    font-size: 19px;
    border-radius: 500px;
    cursor: pointer;
    border: 0px;
    width: auto;
    min-height: 48px;
    box-sizing: border-box;
    padding: 12px 16px;
    line-height: 20px;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.04);
    font-family: sans-serif;
}

.signin_button {
    color: #000000;
    background: #ffffff;
}

.signup_button {
    color: #ffffff;
    background: #000000;
}

.signin_button:hover {
    color: #000000;
    background: #cccccc;
}

.signup_button:hover {
    color: #ffffff;
    background: #333333;
}

#user_image {
    height: 20px;
    width: 20px;
}

.top_scrolled {
    height: 0px;
}

.anchor_scrolled {
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}