.spacer {
    height: 1px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;

    &._32 {
        width: 32px;
    
        @media screen and (max-width: 820px){
            width: 12px;
        }
    }
    
    &._24 {
        width: 24px;
    
        @media screen and (max-width: 820px){
            width: 8px;
        }
    }
    
    &._4 {
        width: 4px;
    
        @media screen and (max-width: 820px){
            width: 0px;
        }
    }
    
    &._16 {
        width: 16px;
    
        @media screen and (max-width: 820px){
            width: 8px;
        }
    }
    
    &._8 {
        width: 8px;
    }
    
    &._40 {
        width: 40px;
    
        @media screen and (max-width: 820px){
            width: 0px;
        }
    }
}