.spacer {
    height: 1px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

._32 {
    width: 32px;
}

._24 {
    width: 24px;
}

._4 {
    width: 4px;
}

._16 {
    width: 16px;
}

._8 {
    width: 8px;
}

._40 {
    width: 40px;
}