@import "./sections.scss";
@import "./body.scss";
@import "./dialog.scss";
@import "./divider.scss";
@import "./main.scss";
@import "./footer/index.scss";
@import"./spacer.scss";
@import "./header/index.scss";
@import "./main/index.scss";
@import "./infoSection/index.scss";
@import "./leftMenu/index.scss";