.info_section {
    background-color: white;
    min-height: 1024px;
    max-width: 1920px;
    padding: 0 40px;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;

    @media screen and (max-width: 820px){
        padding: 0 16px;
    }

    .links {
        display: flex;
        box-sizing: border-box;
        margin-bottom: -24px;
        margin-right: -12px;
        margin-left: -12px;
        flex-wrap: nowrap;

        @media screen and (max-width: 820px){
            flex-direction: column;
            flex-wrap: wrap;
        }

        .link_box {
            margin-left: 0%;
            padding-right: 12px;
            padding-left: 12px;
            width: 33%;
            display: block;
            flex: none;
            margin-bottom: 24px;
            box-sizing: border-box;

            @media screen and (max-width: 820px){
                width: 100%;
            }

            a {
                text-decoration: none;
                margin-bottom: 16px;
                color: #000000;
                font-family: sans-serif;

                .image_wrapper {
                    width: 100%;
                    position: relative;
                    padding-top: 56%;
                    margin-bottom: 8px;
                    background-color: #E2E2E2;
                    height: 0;

                    img {
                        width: 100%;
                        left: 0;
                        top: 0;
                        position: absolute;
                        overflow: clip;
                        overflow-clip-margin: content-box;
                    }
                }

                .title {
                    line-height: 36px;
                    font-size: 28px;
                    font-weight: 700;
                    margin: 0;
                    display: block;

                    @media screen and (max-width: 820px){
                        flex-direction: column;
                        flex-wrap: wrap;
                    }
                }

                .underlined_text {
                    text-decoration: underline;
                    margin-top: 8px;
                    line-height: 20px;
                    font-size: 16px;
                    font-weight: 500;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                }
            }
        }
    }

    .map {
        .title {
            align-items: flex-end;
            justify-content: space-between;
            display: flex;
            font-family: sans-serif;

            @media screen and (max-width: 820px){
                flex-wrap: wrap;
            }

            h2 {
                font-size: 36px;
                line-height: 44px;
                font-weight: 700;
                margin: 0;
            }

            a {
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
                color: #000000;
            }
        }

        .image_wrapper  {
            display: block;
            margin: 24px 0px;
            height: 360px;

            iframe {
                height: 360px;
                width: 100%;
            }
        }

        .list_of_cities {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(6, 1fr);
            gap: 24px;
            grid-auto-flow: column;
            display: grid;
            margin-top: 24px;

            @media screen and (max-width: 820px){
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(12, 1fr);
                align-items: center;
                justify-items: center;
            }

            .name {
                @media screen and (max-width: 820px){
                    text-align: center;
                }

                a {
                    text-decoration: none;
                    color: #000000;
                    font-family: sans-serif;
                }
            }
        }

        .list_of_countries {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(8, 1fr);
            gap: 24px;
            grid-auto-flow: column;
            display: grid;
            margin-top: 24px;

            @media screen and (max-width: 820px){
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(15, 1fr);
                align-items: center;
                justify-items: center;
            }

            .name {
                @media screen and (max-width: 820px){
                    text-align: center;
                }

                a {
                    text-decoration: none;
                    color: #000000;
                    font-family: sans-serif;
                }
            }
        }
    }
}