@import "../themes/list_theme.scss";

#footer {
    border-top: 1px solid #E2E2E2;
    margin-top: 80px;
    padding: 72px 0px 88px;
    background-color: white;
    justify-content: flex-end;

    .footer_text {
        font-weight: normal;
        line-height: 20px;
        font-size: 14px;
        font-family: sans-serif;
        color: #000000;

        @media screen and (max-width: 820px){
            margin-bottom: 20px;
        }

        a {
            color: #000000;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .footer_section {
        padding: 0 40px;
        margin: 0 auto;
        max-width: 1920px;
        box-sizing: border-box;
        
        @media screen and (max-width: 820px){
            padding: 0 16px;
        }

        .wrapper {
            display: flex;

            @media screen and (max-width: 820px){
                flex-direction: column;
            }

            .download_links {
                display: flex;
                flex: 2;
                align-items: flex-start;
                justify-content: space-between;
                flex-direction: column;

                @media screen and (max-width: 820px){
                    margin-bottom: 48px;
                }

                .links_wrapper {
                    gap: 16px;
                    flex-flow: row wrap;
                    display: flex;
                }

                .footer_image {
                    margin-bottom: 64px;
                    height: 24px;
                    width: auto;

                    @media screen and (max-width: 820px){
                        margin-bottom: 48px;
                    }
                }
            }

            .help_links {
                @include list;
            }

            .about {
                @include list;

                img {
                    height: 16px;
                    width: 16px;
                }
            }    
        }

        .break {
            margin: 40px 0;
            border: none;
            height: 1px;
            overflow: hidden;
            background: #F6F6F6;
        }

        .social_terms {
            display: flex;
            flex-direction: column;

            .row {
                display: flex;

                @media screen and (max-width: 820px){
                    flex-direction: column;
                }

                .social_links {
                    flex: none;
                    flex-direction: row;
                    display: flex;

                    @media screen and (max-width: 820px){
                        margin-bottom: 40px;
                    }
                }

                .white_space {
                    flex: 1 0 36px;

                    @media screen and (max-width: 820px){
                        flex: 0;
                    }
                }

                .terms {
                    display: flex;
                    
                    @media screen and (max-width: 820px){
                        flex-direction: column;
                    }

                    a {
                        font-weight: normal;
                        line-height: 20px;
                        font-size: 14px;
                        margin-bottom: 16px;
                        font-family: sans-serif;
                        display: flex;
                        text-decoration: none;
                        color: #000000;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}