#footer {
    border-top: 1px solid #E2E2E2;
    margin-top: 80px;
    padding: 72px 0px 88px;
    background-color: white;
    display: block;
    justify-content: flex-end;

    .footer_text {
        font-weight: normal;
        line-height: 20px;
        font-size: 14px;
        font-family: sans-serif;
        color: #000000;
        display: block;

        a {
            color: #000000;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .footer_section {
        padding: 0 40px;
        margin: 0 auto;
        max-width: 1920px;
        box-sizing: border-box;
        display: block;
        min-width: 1024px;

        .wrapper {
            display: flex;

            .download_links {
                display: flex;
                flex: 2;
                align-items: flex-start;
                justify-content: space-between;
                flex-direction: column;

                .links_wrapper {
                    gap: 16px;
                    flex-flow: row wrap;
                    display: flex;
                }

                .footer_image {
                    margin-bottom: 64px;
                    height: 24px;
                    width: auto;

                }
            }

            .help_links {
                flex: 1;
                flex-direction: column;
                display: flex;

                ul {
                    list-style: none;;

                    a {
                        font-weight: normal;
                        font-size: 16px;
                        margin-bottom: 16px;
                        font-family: sans-serif;
                        line-height: 24px;
                        color: #000000;
                        display: flex;
                        text-decoration: none;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }

            .about {
                flex: 1;
                flex-direction: column;
                display: flex;

                ul {
                    list-style: none;;

                    a {
                        font-weight: normal;
                        font-size: 16px;
                        margin-bottom: 16px;
                        font-family: sans-serif;
                        line-height: 24px;
                        color: #000000;
                        display: flex;
                        text-decoration: none;

                        img {
                            height: 16px;
                            width: 16px;
                        }
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .break {
            margin: 40px 0;
            border: none;
            height: 1px;
            display: block;
            unicode-bidi: isolate;
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
            margin-inline-start: auto;
            margin-inline-end: auto;
            overflow: hidden;
            background: #F6F6F6;
        }

        .social_terms {
            display: flex;
            flex-direction: column;

            .row {
                display: flex;

                .social_links {
                    flex: none;
                    flex-direction: row;
                    display: flex;
                }

                .white_space {
                    flex: 1 0 36px;
                    display: block;
                }

                .terms {
                    display: flex;

                    a {
                        font-weight: normal;
                        line-height: 20px;
                        font-size: 14px;
                        margin-bottom: 16px;
                        font-family: sans-serif;
                        display: flex;
                        text-decoration: none;
                        color: #000000;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}