.banner {
    background-image: url("https://img.freepik.com/free-photo/buddha-bowl-dish-with-chicken-fillet-rice-red-cabbage-carrot-fresh-lettuce-salad-sesame_2829-18833.jpg?w=1380&t=st=1673341360~exp=1673341960~hmac=8abb539c89450176dfcee9dfd3ef17e7e17d2c33ef63907ef10aad8bb4df6086");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
}