.search_section {
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    /*min-width: 1024px;*/
    max-width: 1920px;
}

.search_wrapper {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    position: absolute;
    align-items: center;
}

.search_title {
    max-width: 75%;
    margin-bottom: 40px;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 64px;
    font-size: 52px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.form_box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
}

.input_box {
    /*min-width: 500px;*/
    min-height: 56px;
    border: 0px;
    background-color: white;

    .input_wrapper {
        box-shadow: inset 0px -1px 0px #EEEEEE;
        padding: 8px 16px;
        line-height: 24px;
        display: flex;
        position: relative;
        min-width: 100%;
        box-sizing: border-box;

        input {
            width: 100%;
            border: 0px;
            background-color: white;
        }

        input:focus {
            outline: none;
        }

        &.active {
            box-shadow: rgb(0, 0, 0) 0px -2px 0px inset;
        }
    }
}

.form_image {
    vertical-align: middle;
}

.pin_image {
    margin: 8px;
}

.clock_image {
    margin: 16px;
}

.select_box {
    height: 56px;
    min-width: 212px;
    background-color: #ffffff;
    box-shadow: inset 0px -1px 0px #eeeeee;
    position: relative;
    display: block;
    cursor: pointer;

    .select_button {
        display: flex;
        flex-direction: row;
        align-items: center;
        outline: none;
        background: transparent;
        border: 0;
        
        .select_text {
            font-family: sans-serif;
            line-height: 20px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
        }

        .arrow_wrapper {
            height: 48px;
            width: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    .select_window {
        padding: 8px 0px 16px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        z-index: -1;
        opacity: 0;
        top: 100%;
        background: #ffffff;
        left: 0;
        flex-direction: column;
        display: flex;
        min-width: 100%;
        position: absolute;

        &.show {
            z-index: 2;
            opacity: 1;
        }

        .select_button {
            transition: background 100ms ease 0s;
            outline: none;
            padding: 8px 16px;
            align-items: center;
            cursor: pointer;
            display: flex;
            border-width: 0;
            margin: 0;
            background: transparent;

            .image_wrapper {
                height: 32px;
                width: 32px;
                border-radius: 50%;
                background-color: #f6f6f6;
                flex: none;
                align-items: center;
                justify-content: center;
                display: flex;
            }

            .select_image {
                line-height: 1;
                height: 20px;
                width: 20px;
                display: block;
            }

            .text_wrapper {
                white-space: nowrap;
                line-height: 20px;
                font-size: 16px;
                font-weight: 500;
                font-family: sans-serif;
            }
        }

        .select_button:hover {
            background: rgb(246,246,246);
        }
    }
}

.search_button {
    font-size: 19px;
    border-radius: 8px;
    cursor: pointer;
    border: 0px;
    width: auto;
    min-height: 56px;
    box-sizing: border-box;
    padding: 12px 16px;
    line-height: 20px;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.04);
    font-family: sans-serif;
    color: #ffffff;
    background: #000000;
}

.search_button:hover {
    color: #ffffff;
    background: #333333;
}

.search_footer {
    line-height: 16px;
    font-size: 14px;
    margin-top: 24px;
    font-weight: 500;
    font-family: sans-serif;

    a {
        color: #000000;
    }
}
