.search_section {
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    /*min-width: 1024px;*/
    max-width: 1920px;
}

.search_wrapper {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    position: absolute;
    align-items: center;
}

.search_title {
    max-width: 75%;
    margin-bottom: 40px;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 64px;
    font-size: 52px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.form_box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
}

.input_box {
    /*min-width: 500px;*/
    min-height: 56px;
    border: 0px;
    background-color: white;

    .input_wrapper {
        box-shadow: inset 0px -1px 0px #EEEEEE;
        padding: 8px 16px;
        line-height: 24px;
        display: flex;
        position: relative;
        min-width: 100%;
        box-sizing: border-box;

        input {
            width: 100%;
            border: 0px;
            background-color: white;
        }

        input:focus {
            outline: none;
        }

        &.active {
            border-bottom: 2px solid #000000;
        }
    }
}

.form_image {
    vertical-align: middle;
}

.pin_image {
    margin: 8px;
}

.clock_image {
    margin: 16px;
}

.select_box {
    height: 56px;
    min-width: 212px;
    background-color: #ffffff;
    box-shadow: inset 0px -1px 0px #eeeeee;
    position: relative;
    display: block;
}

.select_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_button {
    font-size: 19px;
    border-radius: 8px;
    cursor: pointer;
    border: 0px;
    width: auto;
    min-height: 56px;
    box-sizing: border-box;
    padding: 12px 16px;
    line-height: 20px;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.04);
    font-family: sans-serif;
    color: #ffffff;
    background: #000000;
}

.search_button:hover {
    color: #ffffff;
    background: #333333;
}

.search_footer {
    line-height: 16px;
    font-size: 14px;
    margin-top: 24px;
    font-weight: 500;
    font-family: sans-serif;

    a {
        color: #000000;
    }
}
